/* hero section */
.hero {
    background-image: linear-gradient(90deg, rgba(31, 10, 1, 0.5) 25.84%, rgba(196, 196, 196, 0) 99.5%), url(assets_tmp2/group-3@3x.png);
    background-size: cover;
    background-position: center;
}

.title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5.2px;
}

.button {
    background-color: #2a7ee1;
    border: none;
    color: white;
    width: 172px;
    text-transform: uppercase;
    font-weight: 600;
}

section {
    padding: 4% 0%;
}
.container {
    padding:0% 4% 0% 4%;
}

/* feature section */
p {
    padding-bottom: 6%;
}

.benefits {
    padding:16% 0% 0% 8%;
}

.subtitle {
    font-weight: bold;
}

h2.title.is-5 {
    margin-bottom: 1.5%;
    color: #2a7ee1;
}

/* learn section */
#learn {
    text-align: center;
    font-weight: bold;
    padding-bottom: 3%;
}

#learnmore {
    display: block;
    margin: 0 auto;
}

/* testimonial section */
.card{
    background-color: #e8ecf2;
    margin: 0% 10% 0% 10%;
    min-width: 60%;
    box-shadow: none;
    padding: 2% 2% 0% 2%;
}

.card p {
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.name {
    color: #b4b5ba;
    text-align: center;
}

/* question section */
#questions {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#icons {
    /* display: inline-flex; */
    justify-content: center;
    text-transform: uppercase; 
    color: #2a7ee1;
    text-align: center;
    margin: 0% 20%;   
}

/* footer section */
footer {
    background-color: #e8ecf2;
    padding-top: 4%;
    font-size: 0.75rem;
    color:#9B9CA1;
}

#footertitle {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    color:#9B9CA1;
}

.socials img{
    margin-right: 5%;
}